<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Expense Tracker</strong>
      </h2>
    </div>


    <!-- Reset Password Form   -->
    <div class="rform" *ngIf="resetPasswordView && !registerView">
      <br>
      <button ion-button outline color="text-primary" icon-start (click)="toggleResetPasswordView()">
        <ion-icon name="arrow-back" item-start class="text-primary"></ion-icon>
        <strong>Go Back!</strong>
      </button>

      <div padding-horizontal text-center>
        <h2 ion-text class="text-white" no-margin>
          <strong>Reset your Password</strong>
        </h2>
      </div>

      <p text-center ion-text color="text-primary"><strong>Please enter your email address below to reset your
          password!</strong>
      </p>

      <div class="resetPassword">
        <form class="list-form">
          <ion-item>
            <ion-label floating>
              <ion-icon name="mail" item-start class="text-primary"></ion-icon>
              Email
            </ion-label>
            <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
          </ion-item>
        </form>
      </div>
      <br><br>
      <div>
        <button ion-button icon-start block outline color="light" (click)="resetPassword()">
          <ion-icon name="log-in"></ion-icon>
          Reset my password
        </button>
      </div>
    </div>


    <!-- Login form -->
    <div *ngIf="!registerView && !resetPasswordView">
      <form class="list-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            Username or Email
          </ion-label>
          <ion-input type="email" formControlName="usernameOrEmail" name="email"></ion-input>
        </ion-item>

        <div class="error">
          <ng-container *ngFor="let validation of validation_messages.usernameOrEmail">
            <div class="error-message" *ngIf="loginForm.get('usernameOrEmail').hasError(validation.type) &&
            loginForm.get('usernameOrEmail').touched">
              {{validation.message}}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password
          </ion-label>
          <ion-input type="password" formControlName="password" name="password"></ion-input>
        </ion-item>

        <div class="error">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) &&
            loginForm.get('password').touched">
              {{validation.message}}
            </div>
          </ng-container>
        </div>

        <p text-right ion-text color="secondary" tappable (click)="toggleResetPasswordView()"><strong>Forgot Password?</strong></p>

        <div>
          <button ion-button icon-start block color="dark" tappable type="submit"
          [disabled]="!loginForm.valid && this.loginForm.touched">
            <ion-icon name="log-in"></ion-icon>
            SIGN IN
          </button>
        </div>
      </form>



      <!-- Other links -->
      <div text-center margin-top>
        <span ion-text color="secondary" tappable (click)="toggleRegisterView()">New here? <strong>Sign up</strong></span>
      </div>
    </div>

    <!-- Register Form -->
    <div class="rform" *ngIf="registerView && !resetPasswordView">
      <form class="list-form">
        <ion-item>
          <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Username
          </ion-label>
          <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            Email
          </ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password
          </ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
      </form>
      <br>

      <div>
        <button ion-button icon-start block color="dark" tappable (click)="register()">
          <ion-icon name="log-in"></ion-icon>
          SIGN UP
        </button>
      </div>

      <div text-center margin-top>
        <span ion-text color="secondary" tappable (click)="toggleRegisterView()">Have an account? <strong>Sign in</strong></span>
      </div>

    </div>


  </div>
</ion-content>