page-expense-statistics {
 .result{
     margin: 5px 0px;
     color: map-get($map: $colors, $key:text );
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
}
