page-expenses {
    button{
        height: 30px !important;
        width: 70px;
        margin: 5px;
    }
    .btn-top{
        text-align: right;
        margin: -12px 0 5px 0;
    }
}

.disabled{
    pointer-events: none;
    color: #c0c0c0 !important;
}
