<!--
  Generated template for the CategoryGroupsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Categories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="categories.size">
    <ion-card *ngFor="let category of categories">
      <ion-card-content>
        <ion-list>
          <button ion-item (click)="goToExpenses(category)">
            <ion-icon name="ios-folder-open" item-start></ion-icon>
            {{category || "Uncategorized" | titlecase}}
          </button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!categories.size">
    You have no categories
  </div>
</ion-content>